<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">Menu</div>
    <div class="panel-body">
      <div class="row">
        <div class="col col-md-8">
          <div class="form-group">
            <label for="lineName">Podaj nazwę linii</label>
            <input type="text" [formControl]="term" class="form-control" id="lineName" placeholder="Nazwa linii">
            Line : {{line.id}} x : {{line.lat}} y : {{line.lng}}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="jumbotron">
        <div id="map"></div>
      </div>
    </div>
  </div>
</div>


